
body{
  padding: 0;
  background-image: url("../images/jumbotron background.jpg");
  background-size: 100%;
  color: white;
}

.navbar{
  background: none;
  border: none;
}

#googleMap{
  height: 500px;
  width: 568px;
  margin-top: 13px;
}

#msg {
    margin-top: 68px;
    color: #fff;
    font-style: italic;
}

.btn-info{
  margin: 5px;
}

.eventButtons{
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  color: white;
  height: 160px;
  width: 265px;
  background-color: white;
  color: black;
}

.eventButtons:hover{
  background-color: lightblue;
}

#welcome, #eventsHeading{
  text-align: center;
}

#eventfulLogo{
  margin-top: 5px;
}
#googleLogo{
  width: 150px;
  margin: 5px;
}

#parkwhizLogo{
  width: 150px;
  margin: 5px;
}

footer{
  font-family: "Times New Roman", times, serif;
  padding: 30px 0;
  font-size: 12px;
  text-align: center;
}

a:hover{
  color: red;
  text-decoration: none;
}

#powered{
  font-size: 12px;
}

@media only screen and (max-width: 980px){
  .container{
    max-width: 768px;
  }
  .eventButtons{
    margin: 10px;
    padding: 0px;
    width: 100%;
  }
  #googleMap{
    height: 300px;
    width: 100%;
    margin-top: 2px;
  }
  #msg{
    margin-top: 2px;
  }
}

@media only screen and (max-width: 768px) {
  .container{
    max-width: 600px;
  }
  .eventButtons{
    margin: 10px;
    padding: 0px;
    width: 100%;
  }
  #googleMap{
    height: 300px;
    width: 100%;
    margin-top: 2px;
  }
  #msg{
    margin-top: 2px;
  }
}

@media only screen and (max-width: 640px){
  .container{
    max-width: 400px;
  }
  .eventButtons{
    margin: 10px;
    padding: 0px;
    width: 100%;
  }
  #googleMap{
    height: 300px;
    width: 100%;
    margin-top: 2px;
  }
  #msg{
    margin-top: 2px;
  }
}
}




