*{
  box-sizing: border-box;
}
body{
  padding: 0;
  background-image: url("../images/jumbotron background.jpg");
  /*background-repeat: no-repeat;*/
  background-size: 100%;

  color: white;
}

/*.container{
  height: 100%;
}*/
.navbar{
  background: none;
  border: none;
}
.jumbotron{
  background: none;

}
.brand{
  height: 100px;
  width: 400px;
}
#googleMap{
  /*border-width:5px; 
  border-style:ridge;*/
  height: 568px;
  width: 568px;
  padding: 50px 0px;
  margin-bottom: 40px;
  

}
.panel{
  border-width:5px; 
  border-style:ridge;
}

.event-details {
  border-bottom: 1px solid #eee;
  padding: 3px;
}

.btn-primary {
  margin: 5px;
}
.eventButtons{
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  color: white;
  height: 150px;
  width: 250px;
  background-color: white;
  color: black;
}
#welcome, #eventsHeading{
  text-align: center;
}


footer{
  font-family: "Times New Roman", times, serif;
  padding: 30px 0;
  font-size: 12px;
  text-align: center;
}



